{% include 'boilerplat.html' %}
<style>
    body{
        text-align:center
    }
</style>


{% block body %}
<h1 style="text-align:center">Quiz</h1>
Welcome {{username}}
<br>
<br>
<br>

<form action="" method="POST">
    {% csrf_token %}

    <div>
        <spam>Enter your username:</spam>
        <input type="text" value="{{username}}" name="username"><br><br>
        <spam>Favorite subject:</spam>
        <input type="text" name="fav_sub"><br><br>
        <spam>Love to do:</spam>
        <input type="text" name="love_td"><br><br>
        <spam>Favorite Colour:</spam>
        <input type="text" name="fav_colour"><br><br>
        <spam>Favorite Game:</spam>
        <input type="text" name="fav_game"><br><br>
    </div>
    <br>
    <input type="Submit" value="Submit">
</form>
{% endblock body %}